version: "3.1"
services:
  api:
    build: .
    image: nodejs
    ports: 
      - "8000:8000"
    tty: true
    volumes: 
      - .:/opt/app
      - /opt/app/node_modules
    container_name: desafio-walmart-api
    restart: always
    environment: 
      - DB_HOST=host.docker.internal
      - DB_PORT=27017
      - DB_NAME=promotions
      - DB_USER=productListUser
      - DB_PASSWORD=productListPassword
      - PORT=8000
volumes:
  mongodata:

